// COLORS
$color-primary: #003e83;
$color-secondary: #f5b224;
$color-tertiary-light: #e3e3e3;
$color-tertiary-dark: #d6d6d6;
$color-base: #ffffff;

ion-content {
  --background: #d3d3d3;
}

ion-toolbar {
  --background: #4cd2bf;
  padding-bottom: 0.5rem;
}

ion-title {
  text-align: center;
  color: white;
}

.white {
  --color: white;
}

.title {
  font-size: 16px;
  color: #4cd2bf;
  font-weight: 800;
  margin: 5px;
}

ion-list {
  --background: none;
  background: none;
  margin-bottom: 0 !important;

  ion-thumbnail {
    margin: 0px;
    margin-left: 8px;
  }

  ion-item {
    --background: white;
    margin-bottom: 10px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
  }
}

.tamano {
  font-size: 10px;
  margin-left: 14px;
  line-height: 12px;
}

.title {
  font-size: 14px;
  color: #4cd2bf;
  margin-left: 14px;
}

.bar-custom {
  color: #4cd2bf;
  --bar-background-active: #4cd2bf;
  --knob-size: 12px;
  padding: 0;
  width: 94%;
  padding-left: 10px;
  --bar-height: 4px;
}

.margin-remove-bottom {
  margin-bottom: 0;
}

.img-thumbnail-custom {
  height: 75px;
  width: 70px;
  --border-radius: 14px;
}

img {
  width: 250px;
  max-width: 250px;
}

.custom-progress {
  --background: #4cd2bf;
  opacity: 0.2;
}

ion-grid {
  padding: 0;
  display: flex;
  justify-content: center;
}

ion-row {
  width: 90%;
  background: white;
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
}

.line {
  border-radius: 45px;
  background-image: linear-gradient(to right, black 50%, white 50%);
  background-position: top;
  background-size: 41px 1px;
  background-repeat: repeat-x;
  opacity: 0.8;
}

.center-position {
  display: flex;
  justify-content: center;
}

.custom-btn {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(211, 211, 211, 1) 100%
  );
  height: 40px;
  width: 80%;
  border-radius: 20px;
}

.attack {
  background: linear-gradient(
    90deg,
    rgba(100, 255, 56, 0.5606617647058824) 20%,
    rgba(76, 210, 191, 1) 100%
  );
  align-items: stretch;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 50%;
  font-size: 15px;
  color: white;
}

.power {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding-left: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}

h4 {
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  opacity: 0.4;
}
h4:before,
h4:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h4:before {
  right: 0.5em;
  margin-left: -50%;
}
h4:after {
  left: 0.5em;
  margin-right: -50%;
}

.between-position {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-back {
  width: 85%;
  height: 50px;
  margin: 1rem;
  --background: #4cd2bf;
}

.stats-power {
  margin-top: 0.5rem;
}
