ion-content {
  --offset-top: 0px;
  --offset-bottom: 0px;
  --background: #4cd2bf;
  --color: #FFF;
}

ion-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px 0;
}

ion-content .container .header {
  flex: 1;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

ion-content .container .header .title img {
  height: 100px;
  width: 100px;
}

ion-content .container .header h3 {
  color: white;
  font-size: 48px;
  margin-bottom: 0;
  letter-spacing: 5px;
}

ion-content .container .header p {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  letter-spacing: 1.5px;
}

ion-content .container .body {
  width: 77%;
  flex: 1.5;
}

ion-content .container .body ion-list {
  --background: none;
  background: none;
  margin-bottom: 0 !important;
}

ion-content .container .body ion-list ion-item {
  border: 0.8px solid azure;
  --highlight-color-focused: none;
  --background: #14b196;
  border-radius: 50px;
  margin-bottom: 10px;
  height: 50px;
}

ion-content .container .body ion-list ion-item ion-icon {
  color: #FAFAFA;
}

ion-content .container .body ion-list ion-item ion-input {
  --color: #FFF;
  --placeholder-opacity: 1;
  text-align: center;
}

ion-content .container .footer {
  display: flex;
  justify-content: center;
}

.btn-login {
  width: 98%;
  height: 45px;
}
